#include <stdlib.h>
#include <string.h>
#include <stdio.h>
#include "object.h"

object_t *object_create() {
    object_t *object = malloc(sizeof(object_t));

    return object;
}

void object_free(object_t *object) {
    if (object) {
        cJSON_Delete(object->temporary);
    }
    free (object);
}

cJSON *object_convertToJSON(object_t *object) {
    if (object) {
        if (!object->temporary) {
            object->temporary = cJSON_CreateObject();
        }
        return object->temporary;
    }

    return NULL;
}

object_t *object_parseFromJSON(char *jsonString){
    object_t *object = object_create();
    if (!object) {
        return object;
    }

    object->temporary = cJSON_Parse(jsonString);
    return object;
}

